services/esoko-payload/src/main/resources/XSD/People/CheckMobile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iexceed.com/checkMobile"
	xmlns:tns="http://www.iexceed.com/checkMobile" xmlns:hr="http://www.iexceed.com/Header"
	elementFormDefault="qualified">
	<import schemaLocation="../Common/HeaderNode.xsd" namespace="http://www.iexceed.com/Header" />

	<complexType name="checkMobileRes">
		<sequence>
			<element name="Header" type="hr:Header" />			
		</sequence>
	</complexType>	
	<element name="checkMobileResWrap">
		<complexType>
			<sequence>
				<element name="checkMobileRes" type="tns:checkMobileRes"/>
			</sequence>
		</complexType>
	</element>
</schema>