services/esoko-payload/src/main/resources/XSD/AlertsPush/CheckAlertName.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iexceed.com/checkAlertName"
	xmlns:tns="http://www.iexceed.com/checkAlertName" xmlns:hr="http://www.iexceed.com/Header"
	elementFormDefault="qualified">
	<import schemaLocation="../Common/HeaderNode.xsd" namespace="http://www.iexceed.com/Header" />
	<complexType name="checkAlertNameRes">
		<sequence>
			<element name="Header" type="hr:Header" />
		</sequence>
	</complexType>
	<element name="checkAlertNameResWrap">
		<complexType>
			<sequence>
				<element name="checkAlertNameRes" type="tns:checkAlertNameRes" />
			</sequence>
		</complexType>
	</element>
</schema>